

.g-graphic {
    width: 960px;
    padding: 1em;
    float: left;
}
.g-table {
    width: 600px;
    padding: 2em;
    float: left;
}

.g-button {
    background: #ffffff;
    border-color: steelblue;
    border-radius: 2px;
    color: #888;
    cursor: pointer;
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    fill: steelblue;
    margin: 0 -1px 0 0;
    padding: 4px 8px;
    white-space: nowrap;
    font-weight: bold;
}

.g-button.g-active, .g-button:active {
    background: #f0f0f0;
    border-color: #ccc;
    border-top-color: #bbb;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    color: #222;

}


.g-axis {
    pointer-events: none;
}

.g-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.5px;
}

.g-axis path {
    display: none;
}

.g-overall {
    pointer-events: none;
}

.g-overall line {
    stroke: #000;
    stroke-width: 2px;
}

.g-overall text {
    text-anchor: middle;
}

.g-sector circle {
    fill: #ddd;
    stroke: #000;
    stroke-width: .5px;
}

.g-sector circle.g-active {
    stroke-width: 2px;
    fill: #666666;
}

.g-sector circle.g-unactive {
    fill: #ddd;
    fill-opacity: 0.1;
    opacity: 0.8;
}



thead th{
    cursor: s-resize;
    fill-opacity: 0.5;
    background: lightcyan;
    font-weight: bold;
    font-size: small;
    padding-right: 5px;
    padding-left: 5px;
    border-left: solid 2px #ffffff;
}




.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 30rem; }
.toggle.ios .toggle-handle { border-radius: 30rem; }


.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 100px;
    padding: 6px;
    margin-top: -5px;
    font: 18px Didot;
    background: white;
    pointer-events: none;
    opacity: 0.85;
    stroke: black;
    font-weight: bold;
    line-height: 1.5;
}

.button-label {
    font: 18px Calibri;
}

.r-labels {
    stroke: #888888;
    fill: #888888;
}
.bbox{
    font: 15px Didot;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;

}

